<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign-Up</title>
    <link rel="stylesheet" href="/css/login-signup.css" />
    <script>
        window.authMode = "<%= mode %>";
    </script>
    <script src="/script/login-signup.js" defer></script>
</head>
<body>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form class="signup-form form <%= Object.keys(errors).length > 0 ? "form-error" : "" %> " action="/sign-up" method="POST">
			<h1>Create Account</h1>
			<div class="input-container">
				<input type="text" name="name" placeholder="Name" value="<%= oldInput?.name || '' %>"/>
				<% if (errors?.name) { %>
					<p class="sign-up-errors errors"><%= errors.name.msg %></p>
				<% } %>
			</div>
			<div class="input-container">
				<input type="text" name="lastname" placeholder="Lastname" value="<%= oldInput?.lastname || '' %>"/>
				<% if (errors?.lastname) { %>
					<p class="sign-up-errors errors"><%= errors.lastname.msg %></p>
				<% } %>
			</div>
			<div class="input-container">
				<input type="text" name="username" placeholder="Username" value="<%= oldInput?.username || '' %>"/>
				<% if (errors?.username) { %>
					<p class="sign-up-errors errors"><%= errors.username.msg %></p>
				<% } %>
			</div>
			<div class="input-container">
				<input type="password" name="password" placeholder="Password" autocomplete="new-password"/>
				<% if (errors?.password) { %>
					<p class="sign-up-errors errors"><%= errors.password.msg %></p>
				<% } %>
			</div>
			<div class="input-container">
				<input type="password" name="passwordConfirmation" placeholder="Confirm Password" autocomplete="new-password"/>
				<% if (errors?.passwordConfirmation) { %>
					<p class="sign-up-errors errors"><%= errors.passwordConfirmation.msg %></p>
				<% } %>
			</div>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form class="login-form form" action="/login" method="POST">
			<h1>Sign in</h1>
			<div class="input-container">
				<input type="text" name="username" placeholder="Username" />
				<% if (errors?.username) { %>
					<p class="login-errors errors"><%= errors.username.msg %></p>
				<% } %>
			</div>
			<div class="input-container">
				<input type="password" name="password" placeholder="Password" />
				<% if (errors?.password) { %>
					<p class="login-errors errors"><%= errors.password.msg %></p>
				<% } %>
			</div>
			<% if (failureMessage)  {%>
				<p class="errors" >
					<%= failureMessage  %>
				</p>
			<% } %>
			<!-- <a href="#">Forgot your password?</a> -->
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost switch-btn" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost switch-btn" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<!-- CREDITS: -->
<!-- <footer> -->
	<!-- <p> -->
		<!-- Created with <i class="fa fa-heart"></i> by -->
		<!-- <a target="_blank" href="https://florin-pop.com">Florin Pop</a> -->
		<!-- - Read how I created this and how you can join the challenge -->
		<!-- <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>. -->
	<!-- </p> -->
<!-- </footer> -->
</body>
</html>